In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

plt.rcParams['figure.figsize'] = (20.0, 10.0)
plt.rcParams.update({'font.size': 22})

In [3]:
#import dataframe
#Data from https://www.kaggle.com/vikasg/russian-troll-tweets/data
df = pd.read_csv("Fund_02_02_02_Files/tweets.csv")

In [12]:
#view column names
df.columns

Index(['user_id', 'user_key', 'created_at', 'created_str', 'retweet_count',
       'retweeted', 'favorite_count', 'text', 'tweet_id', 'source', 'hashtags',
       'expanded_urls', 'posted', 'mentions', 'retweeted_status_id',
       'in_reply_to_status_id'],
      dtype='object')

In [13]:
#view first 5 lines
df.head()

,user_id,user_key,created_at,created_str,retweet_count,retweeted,favorite_count,text,tweet_id,source,hashtags,expanded_urls,posted,mentions,retweeted_status_id,in_reply_to_status_id
0,1.868981e+09,ryanmaxwell_1,1.458672e+12,2016-03-22 18:31:42,NaN,NaN,NaN,#IslamKills Are you trying to say that there w...,7.123460e+17,NaN,"[""IslamKills""]",[],POSTED,[],NaN,NaN
1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",7.855849e+17,"<a href=""http://twitterfeed.com"" rel=""nofollow...",[],"[""http://detne.ws/2e172jF""]",POSTED,[],NaN,NaN
2,1.710805e+09,cookncooks,1.487767e+12,2017-02-22 12:43:43,NaN,NaN,NaN,RT @ltapoll: Who was/is the best president of ...,8.343832e+17,NaN,[],[],POSTED,[],NaN,NaN
3,2.584153e+09,queenofthewo,1.482765e+12,2016-12-26 15:06:41,NaN,NaN,NaN,RT @jww372: I don't have to guess your religio...,8.134006e+17,NaN,"[""ChristmasAftermath""]",[],POSTED,[],NaN,NaN
4,1.768260e+09,mrclydepratt,1.501987e+12,2017-08-06 02:36:24,NaN,NaN,NaN,RT @Shareblue: Pence and his lawyers decided w...,8.940243e+17,NaN,[],[],POSTED,[],NaN,NaN

In [14]:
#view summary stats of numeric variables
df.describe()

,user_id,created_at,retweet_count,favorite_count,tweet_id,retweeted_status_id,in_reply_to_status_id
count,1.954170e+05,2.034610e+05,58083.000000,58083.000000,2.011680e+05,3.965100e+04,5.590000e+02
mean,1.403567e+16,1.473183e+12,39.641909,35.495085,7.735202e+17,7.808826e+17,7.719047e+17
std,1.017365e+17,1.698586e+10,290.904628,270.201692,7.106134e+16,2.034659e+16,1.993880e+16
min,1.871082e+07,1.405361e+12,0.000000,0.000000,4.887460e+17,7.675590e+16,6.108386e+17
25%,1.671235e+09,1.471270e+12,0.000000,0.000000,7.654796e+17,7.768833e+17,7.627307e+17
50%,1.856829e+09,1.476888e+12,0.000000,0.000000,7.887575e+17,7.838451e+17,7.735847e+17
75%,2.590038e+09,1.483194e+12,0.000000,0.000000,8.153402e+17,7.892722e+17,7.814269e+17
max,7.892661e+17,1.506417e+12,20494.000000,26655.000000,9.126040e+17,8.927026e+17,8.009970e+17

In [ ]:
#this is where I am stuck.  I am trying to create data from the hashtags column but I'm having trouble.
#I get that the hashtags are each lists, so trying to figure out how to do a histogram and or a wordcloud of that data. 
#below is just the latest iteration.  I've tried a LOT of things.

ht = list(df.hashtags)